PROJECT_NAME=services

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=password

# Mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE="${PROJECT_NAME}-db"
MYSQL_USER="${PROJECT_NAME}-user"
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# Mysql Test
MYSQL_TESTING_HOST=mysql_testing
MYSQL_TESTING_PORT=13306
MYSQL_TESTING_DATABASE="${PROJECT_NAME}-db_testing"
MYSQL_TESTING_USER="${PROJECT_NAME}-user"
MYSQL_TESTING_PASSWORD=password
MYSQL_TESTING_ROOT_PASSWORD=password

# Mongodb
MONGODB_USERNAME="${PROJECT_NAME}-user"
MONGODB_PASSWORD=password
MONGODB_DATABASE="${PROJECT_NAME}-db"
MONGODB_PORT=27017

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB="${PROJECT_NAME}-db"
POSTGRES_USER="${PROJECT_NAME}-user"
POSTGRES_PASSWORD=password

# Postgres Test
POSTGRES_TESTING_HOST=postgres_testing
POSTGRES_TESTING_PORT=15432
POSTGRES_TESTING_DB="${PROJECT_NAME}-db_testing"
POSTGRES_TESTING_USER="${PROJECT_NAME}-user"
POSTGRES_TESTING_PASSWORD=password
